body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}

#texto {
  text-align: center;
}

.textoImportante {
  color: black;
  font-family: fantasy;
  font-style: italic;
  font-weight: bold;  
}